@use "utilities/global" as *;

@include setup;

body {
  font-family: $font-space-grotesk;
  font-weight: 500;
  position: relative;
  padding: rem(32px) rem(16px) rem(45px);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(240px);
    z-index: -3;
    background: {
      color: color(very-dark-violet);
      image: url("../images/bg-main-mobile.png");
      repeat: no-repeat;
      size: cover;
    }
  }
  @media (min-width: $br-desktop) {
    padding: 0 rem(227px) 0 rem(164px);
    min-height: 100vh;
    display: flex;
    align-items: center;
    &:before {
      background-image: url("../images/bg-main-desktop.png");
      width: rem(483px);
      height: 100%;
    }
  }
}

img {
  display: block;
  max-width: 100%;
}
